## Daten von HuggingFace abholen und Data Description Report erstellen:

In [2]:
# https://huggingface.co/datasets/WinkingFace/CryptoLM-Bitcoin-BTC-USDT?library=datasets

from datasets import load_dataset
import pandas as pd

ds = load_dataset("WinkingFace/CryptoLM-Bitcoin-BTC-USDT")
df  = ds['train'].to_pandas()


print("üßæ Allgemeine Datenstruktur:")
display(df.info())

print("üìå Fehlende Werte:")
display(df.isnull().sum())

print("üîç Statistische √úbersicht:")
display(df.describe())

print("üìÖ Erste und letzte Zeilen der Daten:")
display(df.head())
display(df.tail())

Resolving data files:   0%|          | 0/92 [00:00<?, ?it/s]

üßæ Allgemeine Datenstruktur:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2263000 entries, 0 to 2262999
Data columns (total 23 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   open       object
 2   high       float64
 3   low        float64
 4   close      float64
 5   volume     object
 6   MA_20      float64
 7   MA_50      float64
 8   MA_200     float64
 9   RSI        float64
 10  %K         float64
 11  %D         float64
 12  ADX        float64
 13  ATR        float64
 14  Trendline  float64
 15  MACD       float64
 16  BL_Upper   float64
 17  BL_Lower   float64
 18  Signal     float64
 19  Histogram  float64
 20  MN_Upper   float64
 21  MN_Lower   float64
 22  month      int64
dtypes: datetime64[ns](1), float64(19), int64(1), object(2)
memory usage: 397.1+ MB

None

üìå Fehlende Werte:

timestamp    0
open         0
high         0
low          0
close        0
volume       0
MA_20        0
MA_50        0
MA_200       0
RSI          0
%K           0
%D           0
ADX          0
ATR          0
Trendline    0
MACD         0
BL_Upper     0
BL_Lower     0
Signal       0
Histogram    0
MN_Upper     0
MN_Lower     0
month        0
dtype: int64

üîç Statistische √úbersicht:

,timestamp,high,low,close,MA_20,MA_50,MA_200,RSI,%K,%D,...,ATR,Trendline,MACD,BL_Upper,BL_Lower,Signal,Histogram,MN_Upper,MN_Lower,month
count,2263000,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,...,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06,2.263000e+06
mean,2021-06-30 18:50:42.974767616,3.023916e+04,3.020997e+04,3.022464e+04,3.022451e+04,3.022430e+04,3.022333e+04,5.014650e+01,5.082227e+01,5.082130e+01,...,2.919020e+01,3.022645e+04,9.781135e-02,3.029502e+04,3.015401e+04,9.885063e-02,-1.039282e-03,3.029544e+04,3.015391e+04,6.174788e+02
min,2017-08-18 01:19:00,2.830000e+03,2.817000e+03,2.817000e+03,2.861988e+03,2.891755e+03,2.964107e+03,3.819808e-02,0.000000e+00,0.000000e+00,...,1.008666e-02,3.120691e+03,-1.411865e+03,2.907687e+03,2.795633e+03,-1.165012e+03,-4.758450e+02,2.925652e+03,2.818502e+03,5.710000e+02
25%,2019-07-26 14:35:45,8.745410e+03,8.734872e+03,8.740000e+03,8.739299e+03,8.739483e+03,8.740291e+03,4.261235e+01,2.550136e+01,2.625244e+01,...,7.062886e+00,8.747751e+03,-6.689684e+00,8.763886e+03,8.716954e+03,-6.271881e+00,-2.295174e+00,8.764700e+03,8.713430e+03,5.940000e+02
50%,2021-07-02 05:57:30,2.190877e+04,2.188329e+04,2.189429e+04,2.189885e+04,2.189781e+04,2.190183e+04,5.015171e+01,5.101063e+01,5.096766e+01,...,1.577588e+01,2.191326e+04,7.489770e-02,2.195075e+04,2.184101e+04,7.095182e-02,-1.545388e-02,2.197061e+04,2.184428e+04,6.180000e+02
75%,2023-06-08 10:01:15,4.518174e+04,4.512293e+04,4.515347e+04,4.514624e+04,4.515018e+04,4.514959e+04,5.765798e+01,7.632578e+01,7.553344e+01,...,3.882623e+01,4.510561e+04,7.036153e+00,4.528403e+04,4.500939e+04,6.634629e+00,2.227146e+00,4.529488e+04,4.500219e+04,6.410000e+02
max,2025-03-19 17:11:00,1.095880e+05,1.089451e+05,1.091942e+05,1.087076e+05,1.083979e+05,1.082619e+05,9.989220e+01,1.000000e+02,1.000000e+02,...,1.301813e+03,1.099134e+05,1.365472e+03,1.098149e+05,1.083312e+05,1.158889e+03,5.123405e+02,1.092868e+05,1.082059e+05,6.620000e+02
std,NaN,2.593009e+04,2.590970e+04,2.591995e+04,2.591962e+04,2.591912e+04,2.591690e+04,1.129171e+01,2.833706e+01,2.743779e+01,...,3.652458e+01,2.591951e+04,3.766337e+01,2.597386e+04,2.586567e+04,3.538915e+01,1.141772e+01,2.597363e+04,2.586628e+04,2.673570e+01

üìÖ Erste und letzte Zeilen der Daten:

,timestamp,open,high,low,close,volume,MA_20,MA_50,MA_200,RSI,...,ATR,Trendline,MACD,BL_Upper,BL_Lower,Signal,Histogram,MN_Upper,MN_Lower,month
0,2017-08-18 01:19:00,4164.02000000,4195.00,4142.67,4142.67,4.95543200,4242.3490,4272.0094,4310.40010,25.072875,...,20.671477,4291.939531,-21.607782,4301.710455,4182.987545,-13.118592,-8.489190,4238.791051,4195.062993,571
1,2017-08-18 01:20:00,4172.81000000,4172.81,4172.81,4172.81,3.59270000,4237.5215,4269.6234,4309.59530,34.675823,...,21.347800,4291.959906,-23.948773,4302.727167,4172.315833,-15.284628,-8.664145,4236.942037,4193.213979,571
2,2017-08-18 01:21:00,4184.12000000,4196.73,4134.61,4196.73,6.01770700,4234.6160,4267.7158,4308.90115,41.124930,...,24.260101,4291.980281,-23.601815,4301.629539,4167.602461,-16.948065,-6.653749,4235.414953,4191.686895,571
3,2017-08-18 01:22:00,4173.47000000,4173.47,4152.08,4164.28,9.96533000,4230.0880,4265.1592,4308.04475,35.941054,...,25.716523,4292.000657,-25.649619,4303.001866,4157.174134,-18.688376,-6.961243,4234.223988,4190.495930,571
4,2017-08-18 01:23:00,4196.73000000,4196.73,4196.73,4196.73,2.56230200,4227.1825,4262.9108,4307.35060,43.597582,...,26.197486,4292.021032,-24.373116,4300.549271,4153.815729,-19.825324,-4.547792,4233.371035,4189.642977,571

,timestamp,open,high,low,close,volume,MA_20,MA_50,MA_200,RSI,...,ATR,Trendline,MACD,BL_Upper,BL_Lower,Signal,Histogram,MN_Upper,MN_Lower,month
2262995,2025-03-19 17:07:00,84695.31000000,84705.56,84663.04,84663.04,14.90896000,84586.5130,84582.1180,84403.19630,57.598465,...,60.271287,84543.246774,21.394327,84684.978315,84488.047685,9.544989,11.849338,84742.946123,84468.035579,662
2262996,2025-03-19 17:08:00,84663.04000000,84673.76,84623.07,84669.81,4.82879000,84588.6005,84584.9480,84405.76925,58.160174,...,59.586909,84545.502407,24.706779,84692.140033,84485.060967,12.577347,12.129432,84745.510809,84470.600265,662
2262997,2025-03-19 17:09:00,84669.82000000,84670.52,84643.22,84670.52,3.45489000,84595.1095,84586.0994,84408.18170,58.222680,...,57.280701,84550.481029,27.077085,84702.008108,84488.210892,15.477294,11.599790,84764.953081,84489.196911,662
2262998,2025-03-19 17:10:00,84670.52000000,84700.00,84655.11,84699.99,5.96939000,84603.1000,84586.7914,84410.67440,60.837893,...,56.395651,84552.743566,30.976474,84716.097583,84490.102417,18.577130,12.399344,84768.307216,84492.551046,662
2262999,2025-03-19 17:11:00,84699.99000000,84703.64,84669.81,84669.82,12.87319000,84612.5300,84586.9578,84413.15490,56.910209,...,54.783819,84555.006103,31.271819,84714.177032,84510.882968,21.116068,10.155751,84771.534642,84495.778471,662

## Datenbereinigung & Aufbereitung

In [4]:
# Relevante Spalten extrahieren
keep_cols = ['timestamp', 'open', 'high', 'low', 'close', 'RSI', 'MACD', 'MA_20', 'Trendline', 'volume']
df = df[keep_cols]

# Datentypen pr√ºfen und konvertieren
if df['volume'].dtype == 'object':
    df['volume'] = pd.to_numeric(df['volume'], errors='coerce')

# Timestamp in datetime konvertieren
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce', utc=True)

# Duplikate und fehlende Werte entfernen
df = df.drop_duplicates(subset=['timestamp'])
df = df.dropna(subset=keep_cols)

# Nach Zeit sortieren und Index zur√ºcksetzen
df = df.sort_values('timestamp').reset_index(drop=True)

# Letztes Jahr (Letzte 525.600 Minuten oder Zeilen) ausw√§hlen
df = df.tail(525600)

# CSV speichern
output_path = '../dataset/output/BTC_technical_clean.csv'
df.to_csv(output_path, index=False)
print(df.head())

                  timestamp            open      high       low     close  \
0 2023-08-06 11:33:00+00:00  29070.00000000  29070.00  29069.99  29070.00
1 2023-08-06 11:34:00+00:00  29070.00000000  29070.00  29069.99  29070.00
2 2023-08-06 11:35:00+00:00  29069.99000000  29070.00  29069.99  29069.99
3 2023-08-06 11:36:00+00:00  29069.99000000  29070.00  29069.99  29070.00
4 2023-08-06 11:37:00+00:00  29069.99000000  29071.25  29069.99  29071.25

         RSI      MACD       MA_20     Trendline    volume
0  61.582748  0.950801  29068.7560  29061.245295  10.38379
1  61.582748  0.935606  29068.8290  29061.224264   2.72640
2  61.493477  0.912242  29068.9020  29061.203233   4.61852
3  61.553497  0.884338  29068.9755  29061.182202   4.80870
4  68.221375  0.952114  29069.1110  29061.161171   6.49238