In [6]:
# Data Description Report:

import pandas as pd

df = pd.read_csv("../dataset/BTCUSD_1d_analysis.csv")

print("üßæ Allgemeine Datenstruktur:")
display(df.info())

print("üìå Fehlende Werte:")
display(df.isnull().sum())

print("üîç Statistische √úbersicht:")
display(df.describe())

print("üìÖ Erste Zeilen der Daten:")
display(df.head())

üßæ Allgemeine Datenstruktur:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3805 entries, 0 to 3804
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   unix        3805 non-null   int64
 1   date        3805 non-null   object
 2   symbol      3805 non-null   object
 3   open        3805 non-null   float64
 4   high        3805 non-null   float64
 5   low         3805 non-null   float64
 6   close       3805 non-null   float64
 7   Volume BTC  3805 non-null   float64
 8   Volume USD  3805 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 267.7+ KB

None

üìå Fehlende Werte:

unix          0
date          0
symbol        0
open          0
high          0
low           0
close         0
Volume BTC    0
Volume USD    0
dtype: int64

üîç Statistische √úbersicht:

,unix,open,high,low,close,Volume BTC,Volume USD
count,3.805000e+03,3805.000000,3805.000000,3805.000000,3805.000000,3.805000e+03,3.805000e+03
mean,1.581466e+09,22145.493306,22668.109064,21584.042168,22170.082381,9.267225e+06,7.123671e+07
std,9.491500e+07,25132.901629,25674.762313,24558.402297,25157.408654,3.982868e+07,1.033439e+08
min,1.417133e+09,162.000000,212.840000,152.400000,162.000000,0.000000e+00,0.000000e+00
25%,1.499299e+09,2598.000000,2699.350000,2500.500000,2600.390000,2.215269e+03,1.629967e+04
50%,1.581466e+09,9969.790000,10280.710000,9606.000000,9971.000000,6.170096e+03,4.135185e+07
75%,1.663632e+09,36167.000000,37520.000000,34766.000000,36293.620000,1.772542e+06,9.561199e+07
max,1.745798e+09,106214.000000,109356.000000,105363.000000,106187.000000,7.723295e+08,1.446125e+09

üìÖ Erste Zeilen der Daten:

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
0,1745798400,2025-04-28 00:00:00,BTC/USD,93780.0,93827.0,93709.0,93733.0,2.784149,2.609666e+05
1,1745712000,2025-04-27 00:00:00,BTC/USD,94662.0,95353.0,93685.0,93769.0,582.205268,5.459281e+07
2,1745625600,2025-04-26 00:00:00,BTC/USD,94720.0,95249.0,93934.0,94662.0,518.680731,4.909936e+07
3,1745539200,2025-04-25 00:00:00,BTC/USD,94010.0,95857.0,92891.0,94726.0,2287.687501,2.167035e+08
4,1745452800,2025-04-24 00:00:00,BTC/USD,93730.0,94035.0,91700.0,94010.0,1192.708175,1.121265e+08