In [10]:
# Data Description Report:

import pandas as pd

df = pd.read_csv("../dataset/XAUUSD_1d_analysis.csv", sep=';')

print("üßæ Allgemeine Datenstruktur:")
display(df.info())

print("üìå Fehlende Werte:")
display(df.isnull().sum())

print("üîç Statistische √úbersicht:")

# Strings in Zahlen umwandeln (au√üer Datum)
for col in ['Open', 'High', 'Low', 'Close', 'Volume']:
    df[col] = pd.to_numeric(df[col], errors='coerce')

display(df.describe())

print("üìÖ Erste Zeilen der Daten:")
display(df.head())

üßæ Allgemeine Datenstruktur:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5295 non-null   object
 1   Open    5295 non-null   object
 2   High    5295 non-null   object
 3   Low     5295 non-null   object
 4   Close   5295 non-null   object
 5   Volume  5295 non-null   int64
dtypes: int64(1), object(5)
memory usage: 248.3+ KB

None

üìå Fehlende Werte:

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

üîç Statistische √úbersicht:

              Open         High          Low        Close         Volume
count  5287.000000  5278.000000  5278.000000  5291.000000    5295.000000
mean   1320.936333  1331.188797  1311.749625  1320.831043   76829.566572
std     501.879198   505.180037   499.070684   501.993326   65158.391637
min     382.800000   384.800000   381.100000   382.800000       2.000000
25%     993.140000  1006.535000   986.047500   989.675000   23864.000000
50%    1289.450000  1295.835000  1281.935000  1288.860000   70632.000000
75%    1707.865000  1718.495000  1692.065000  1707.820000  111406.500000
max    2795.080000  2817.230000  2794.210000  2799.230000  679039.000000

üìÖ Erste Zeilen der Daten:

               Date   Open   High    Low  Close  Volume
0  11.06.2004 00:00  384.0  384.8  382.8  384.1     272
1  14.06.2004 00:00  384.3  385.8  381.8  382.8    1902
2  15.06.2004 00:00  382.8  388.8  381.1  388.6    1951
3  16.06.2004 00:00  387.1  389.8  382.6  383.8    2014
4  17.06.2004 00:00  383.6  389.3  383.0  387.6    1568